.sidebar{
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0px;
  bottom: 0px;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}
.sidebar-link{
  background-color: rgb(255, 255, 255);
  height: 74px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(222, 222, 222);

}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}